@model IEnumerable<APPR6312_POE_Web_Application.Models.TblAdmin>

@{
    ViewData["Title"] = "AdminView";
}

<style>
    /*Hiding navbar (W3Schools, 2023)*/
    .navbar {
        visibility: hidden;
    }

    /*Hiding footer (W3Schools, 2023)*/
    footer {
        visibility: hidden;
    }

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: center;
        padding: 20px;
    }

    th {
        background-color: #800080;
        color: white;
    }

    .btn {
        padding: 2px 6px;
        font-size: 15px;
        color: white;
        background: #800080;
        border: none;
        border-radius: 5px;
    }

    .btn:hover {
        background: #FF3300;
    }

    .header {
        width: 100%;
        margin: 50px auto 0px;
        color: white;
        background: #800080;
        text-align: center;
        border: 1px solid #FF3300;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
        padding: 20px;
    }
</style>

<br />
<br />

<div class="header">
    <!--The header is allocated on top of the form (W3Schools, 2023)-->
    <h1>Admins</h1>
</div>

<br />

<p>
    <a asp-action="AdminRegister" class="btn">Add New Admin</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="AdminHome" class="btn">Back</a>
</div>